*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}html, body{
    height: 100%;
    width: 100%;
}body{
    display: flex;
    flex-direction: column;
}

:root {
    --primary-color: #2F2C2C;       /* Soft Cyan Blue */
    --secondary-color: white;     /* Deep Indigo */
    --tertiary-color: grey;      /* Light Aqua Blue */
    --support-color: brown;       /* Muted Teal */
}

@font-face {
    font-family: "euclid-regular";
    src: url('./fonts/Euclid\ Circular\ A\ Regular.ttf');
}

@font-face {
    font-family: "euclid-bold";
    src: url('./fonts/Euclid\ Circular\ A\ Bold.ttf');
}

@font-face {
    font-family: "euclid-bold-italic";
    src: url('./fonts/Euclid\ Circular\ A\ Bold\ Italic.ttf');
}

@font-face {
    font-family: "euclid-italic";
    src: url('./fonts/Euclid\ Circular\ A\ Italic.ttf');
}

@font-face {
    font-family: "euclid-light-italic";
    src: url('./fonts/Euclid\ Circular\ A\ Light\ Italic.ttf.ttf');
}

@font-face {
    font-family: "euclid-light";
    src: url('./fonts/Euclid\ Circular\ A\ Light.ttf');
}

@font-face {
    font-family: "euclid-medium";
    src: url('./fonts/Euclid\ Circular\ A\ Medium.ttf');
}

@font-face {
    font-family: "euclid-medium-italic";
    src: url('./fonts/Euclid\ Circular\ A\ Medium\ Italic.ttf');
}

@font-face {
    font-family: "euclid-semi-bold";
    src: url('./fonts/Euclid\ Circular\ A\ SemiBold\ Italic.ttf');
}

.header-container{
    height: 80px;
    width: 100%;
    background-color: #28282B;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    position: fixed;
}

.header{
    height: 100%;
    width: clamp(300px, 80%, 980px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading{
    font-family: "euclid-medium";
    font-size: 25px;
}

.nav-items{
    display: flex;
    height: 100%;
}

.nav-btn{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    font-family: "euclid-light";
    font-size: 15px;
}

.nav-btn:hover{
    background-color: #2F2C2C;
}

.nav-btn:active{
    color: #FFE878;
}

.container{
    height: calc(100% - 80px);
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mt-80{
    margin-top: 80px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-30{
    margin-bottom: 30px;
}

.mr-20{
    margin-right: 20px;
}

.ph-100{
    padding: 0 100px;
}

.sub-container{
    width: clamp(300px, 80%, 980px);
}

.heading-bold{
    font-family: "euclid-bold";
    font-size: 80px;
}

.py-blue{
    color: #3C72A2;
}

.py-yellow{
    color: #FFC538;
}

.content{
    text-align: justify;
    font-family: "euclid-regular";
    font-size: 20px;
}

.btn-rack{
    display: flex;
    justify-content: flex-start;
}

.btn-med{
    height: 40px;
    width: 250px;
    background-color: #FFC538;
    border: 1px solid #FFC538;
    font-family: "euclid-medium";
    font-size: 15px;
}

.btn-med:hover{
    background-color: #FFE878;
}

.active-effect{
    color: #FFC538;
}

