*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}html, body{
    height: auto;
    width: 100%;
}body{
    font-family: "Roboto", sans-serif;
    display: flex;

}

:root {
    --primary-color: white;       /* Soft Cyan Blue */
    --secondary-color: black;     /* Deep Indigo */
    --tertiary-color: grey;      /* Light Aqua Blue */
    --support-color: brown;       /* Muted Teal */
}

/* card structure code */

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 5px 10px;
}

.sub-container{
    display: flex;
    justify-content: space-between;
    margin: 5px 0 5px 0;
    width: 100%;
    height: calc(50vh - 15px);
}

.card{
    background-color: white;
}

.card-100{
    width: 100%;
    height: 100%;
}

.card-50{
    height: 100%;
    width: calc(50% - (10px /2));
}

.card-33{
    height: 100%;
    width: calc(33.33% - (20px/3));
}

.card-25{
    height: 100%;
    width: calc(25% - (30px/4));
}

.card-53{
    height: 100%;
    width: calc(50% - (20px/3));
}

.card-28{
    height: 100%;
    width: calc(25% - (20px/3));
}

/* card structure code */

/* card internal structure code */

.flex-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* card internal structure code */

/* common code */

.image-container{
    overflow: hidden;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heading{
    font-size: 50px;
    margin-bottom: 20px;
}

.content{
    font-size: 30px;
    text-align: center;
}

/* common code */